<div class="card">
    <div class="card-header warning-color-dark white-text text-center">
        <h2><img src="img/4.gif" width="25px" height="25px" class="card-icon"/>Running Task</h2>
    </div>
    <div class="card-block">
        <ul class="list-group" dnd-list="modelsListsObject.lists.doingTask">
            <li ng-hide="editModeStatus.status" class="list-group-item custom-style"
                ng-repeat="task in modelsListsObject.lists.doingTask track by $index"
                dnd-draggable="task" dnd-moved="dndMovedDoingTaskFunction({index:$index})"
                dnd-effect-allowed="move"
                dnd-selected="modelsListsObject.selected=task"
                ng-class="{'selected':modelsListsObject.selected===task}">
                <h5>{{task}}</h5>
                <a class="first-icon" ng-click="editTaskFunction({task,$index,list:modelsListsObject.lists.doingTask})"><span
                        class="fa fa-pencil-square-o"></span></a>
                <a class="second-icon" ng-click="removeTaskFunction({$index,list:modelsListsObject.lists.doingTask})"><span
                        class="fa fa-trash-o"></span></a>
            </li>
            <li ng-show="(editModeStatus.status)" class="quick-card-editor custom">
                <div class="quick-card-editor-card">
                    <input type="text" class="form-control" ng-model="editText">
                </div>
                <button type="button" class="btn btn-info" ng-click="saveUpdateFunction()">Update</button>
            </li>
            <li>{{doingListStatus}}</li>
        </ul>
    </div>
</div>